@page "/customer"
@* The Customer Management page.
    The following functionality should be implemented:
        - Add Customer
        - Edit Customer (update info or delete customer)
*@

<h3>Customer Management</h3>

<EditForm Model="@customer">
    <div class="form-group mb-3">
        <label for="customerid">Customer ID</label>
        <InputText id="customerid" class="form-control" @bind-Value="@customer.customerID" disabled/>
    </div>

    <div class="form-group mb-3">
        <label for="firstName">First Name</label>
        <InputText id="firstName" class="form-control" @bind-Value="@customer.firstName" />
    </div>

    <div class="form-group mb-3">
        <label for="lastName">Last Name</label>
        <InputText id="lastName" class="form-control" @bind-Value="@customer.lastName" />
    </div>

    <div class="form-group mb-3">
        <label for="contactPhone">Contact Phone</label>
        <InputText id="contactPhone" class="form-control" @bind-Value="@customer.contactPhone" />
    </div>

    <div class="form-group mb-3">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" @bind-Value="@customer.Email" />
    </div>

    <div class="form-group mb-3">
        <label for="notes">Notes</label>
        <InputText id="notes" class="form-control" @bind-Value="@customer.customerNotes" />
    </div>

    <div class="text-center">
        <button @onclick="SaveCustomer" class="btn btn-primary mb-3">Add new customer</button>
    </div>
</EditForm>

@if (isSaved)
{
    <div class="alert alert-info" role="alert">
        Customer @customer.firstName was added
    </div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact Phone</th>
            <th>Email</th>
            <th>Notes</th>
        </tr>
    </thead>
    @if (isDeleted)
    {
        <div class="alert alert-info" role="alert">
            Customer deleted
        </div>
    }
    <tbody>
        @foreach (var customer in Customers)
        {
            <tr>
                <td>@customer.customerID</td>
                <td>@customer.firstName</td>
                <td>@customer.lastName</td>
                <td>@customer.contactPhone</td>
                <td>@customer.Email</td>
                <td>@customer.customerNotes</td>
                <td class="text-center">
                    <button class="btn btn-warning" @onclick="() => EditCustomer(customer)">Edit</button>
                    <button class="btn btn-danger" @onclick="() => DeleteCustomer(customer)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>