@page "/customeredit/{CustomerId}"

<h3>Edit Customer @customer.firstName</h3>

<EditForm Model="@customer">
    <div class="form-group mb-3">
        <label for="customerid">Customer ID</label>
        <InputText id="customerid" class="form-control" @bind-Value="@customer.customerID" disabled />
    </div>

    <div class="form-group mb-3">
        <label for="firstName">First Name</label>
        <InputText id="firstName" class="form-control" @bind-Value="@customer.firstName" />
    </div>

    <div class="form-group mb-3">
        <label for="lastName">Last Name</label>
        <InputText id="lastName" class="form-control" @bind-Value="@customer.lastName" />
    </div>

    <div class="form-group mb-3">
        <label for="contactPhone">Contact Phone</label>
        <InputText id="contactPhone" class="form-control" @bind-Value="@customer.contactPhone" />
    </div>

    <div class="form-group mb-3">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" @bind-Value="@customer.Email" />
    </div>

    <div class="form-group mb-3">
        <label for="notes">Notes</label>
        <InputText id="notes" class="form-control" @bind-Value="@customer.customerNotes" />
    </div>

    <div class="text-center">
        <button @onclick="UpdateCustomer" class="btn btn-primary mb-3">Update Customer</button>
    </div>
</EditForm>

@if (isSaved)
{
        <div class="alert alert-info" role="alert">
            Customer @customer.firstName updated
        </div>
}
